* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

nav {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #58b458;
}

nav a {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

main {
  text-align: center;
  background-image: url("/img/fondo-pag-speciali.jpg");
}

main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

main h1 {
  padding: 10px 0;
  text-transform: uppercase;
  color: #31318b;
  font-weight: bold;
}

main img {
  width: 33%;
  padding: 20px 18px;
}

